@{
    ViewData["Title"] = "Contacts";
}
<div class="container-fluid">
    <h2>@ViewData["Title"]</h2>
    <p>For questions, please contact the appropriate resource below:</p>
    </br>
    <address>
        <strong>All Regions:</strong> <a class="purple" href="mailto:test@example.com">test@example.com</a><br />
    </address>
    <address>
        <strong>Technical Support:</strong> <a class="purple" href="mailto:reggie@example.com">reggie@example.com</a><br />
    </address>
</div>
